<ngx-spinner></ngx-spinner>

<div class="row">
  <div class="offset-md-4 col-md-4 col-sm-12" align="center">
    <mat-form-field id="task-input" appearance="outline">
      <mat-label>O que deve ser feito?</mat-label>
      <input matInput placeholder="Digite e aperte ENTER" [(ngModel)]="model.name" (keyup.enter)="onEnter(model.name)">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="offset-md-4 col-md-4 col-sm-12" align="center">
    <mat-button-toggle-group id="buttons" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle checked="true" (click)="switchFilter('all')">Todos</mat-button-toggle>
      <mat-button-toggle (click)="switchFilter('pending')">Pendentes</mat-button-toggle>
      <mat-button-toggle (click)="switchFilter('done')">Feitos</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
  
<div class="row">
  <div class="offset-md-4 col-md-4 col-sm-12">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let task of tasks;" [disabled]="task.pending || !task.image">
        <mat-expansion-panel-header>
          <mat-panel-description id="task-name">
            <del *ngIf="!task.pending">{{ task.name }}</del>
            <span *ngIf="task.pending">{{ task.name }}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="task.image && !task.pending" class="text-center">
          <img id="task-image" class="rounded" src="{{ this.getImageUrl(task.image) }}" />
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
